body { background-color: rgb(67, 67, 67); }
h1 { color:aliceblue; }
h2 { color:aliceblue; }
h3 { color:aliceblue; }
h4 { color:aliceblue; }
.box {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
.header {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: grey;
    width: 800px;
    border-radius: 20px 20px 0px 0px;
}