body { background-color: rgb(67, 67, 67); }
* { color:aliceblue; }
.box {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
.room-head {
    font-size: 25px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: grey;
    width: 800px;
    height: 35px;
    border-radius: 20px 20px 0px 0px;
}
.room-box {
    width: 800px;
    border: 1px solid #CCCCCC;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
.room-tail {
    font-size: 25px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    width: 800px;
    height: 35px;
    border-radius: 0px 0px 20px 20px;
}
.room {
    display: inline-block;
    font-size: large;
    margin: 10px;
    width: 180px;
    height: 70px;
    background-color: cornflowerblue;
    border-radius: 20px 20px 20px 20px;
}
.head {
    text-align: right;
    font-size: large;
}